.container {
  width: 460px;
  height: 184px;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 70px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #2196f3;
}
.content {
  padding-bottom: 10px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.content-header {
  width: 160px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #a0b0b9;
}
.content-value {
  width: 160px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #4a4a4a;
}
.flights {
  display: flex;
  flex-direction: column;
}
@media (max-width: 420px) {
  .container {
    width: 310px;
  }
  .content {
    width: 300px;
  }
}
