* {
  cursor: url("../../../img/icons/сursor.svg") 2 2, auto;
}

.container {
  width: 232px;
  height: 252px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.header {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4a4a4a;
}
li {
  list-style-type: none;
  height: 40px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;

  color: #4a4a4a;
  display: flex;
  align-items: center;
}
ul {
  padding: 0;
  margin: 0;
}

label {
  display: flex;
  align-items: center;
}
span {
  padding-left: 10px;
}

li:hover {
  background-color: #f1fcff;
}
.custom-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #9abbce;
  border-radius: 2px;
}

.custom-checkbox:checked {
  position: relative;
  border: 1px solid #2196f3;
  background-image: none;
}

.custom-checkbox:checked::before {
  content: " ";
  font-size: 1em;
  position: absolute;
  width: 12px;
  height: 8px;
  left: 3px;
  top: 4px;
  background-image: url("../../../img/icons/check.svg");
}
